@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;600;700&display=swap");
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-display;
}
.brd {
  border: 1px solid red;
}
